body{
	background-color: black;
}

h1 {
    color: white;
    text-shadow: 2px 2px rgb(55, 55, 55);
    text-align: center;
}

.container{
	padding: 16px;
}
::placeholder {
    color:black;
    opacity:1;
}
input[type=text]{
	width: 98%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
    text-align:left;
	border: solid;
    left:0px;
	background:rgba(33, 68, 245, 0.5);
    border-radius: 3px;
    color:black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
  }

input[type=text]:focus, input[type=text]:focus{
    background-color: rgba(33, 68, 245, 0.3);
}

form, hr{
	/* position: absolute;
	top: 300px;
    color: grey;
    left:200px;
    right:200px; */
    max-width: 75%;
    margin: auto;
}

label {
    color: white;
}

.required {
  color: red;
}

.register
{
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight:bold;
  border-radius: 3px;
}